.calendar-timeslot-wrapper {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.day-header-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day-header {
  height: 3em;
  font-weight: bold;
}

.dates-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-date {
  height: calc(100vw/7);
  border: 1px solid;
  margin: 0.25em;
  cursor: pointer;
}

.timeSlot {
  display: flex;
  flex-direction: column;
  background: lightgray;
  padding: 0 1em;
  margin: 1em;
}

.timeSlot form {
  display: none;
  flex-direction: column;
  padding: 1em 0;
}

.timeSlots-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90vw;
  max-width: 400px;
  background: #5e7970;
}

.timeSlot-title {
  height: 3em;
  display: flex;
  align-items: center;
}

.visibile-flex {
  display: flex !important;
}