.day-header-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  /* height: 3em;
  font-weight: bold; */
}
.day-header {
  height: 3em;
  font-weight: bold;
}

.dates-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-date {
  height: calc(100vw/7);
  border: 1px solid;
  margin: 0.25em;
  cursor: pointer;
}